form.add-project-form {
    display: flex;
    padding-inline: 10%;
    flex-direction: column;
}

.task-input-group {
    display: inline-flex;
}

.first-division {
    display: flex;
}

button.submit-project-form {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 45%);
    background: linear-gradient(0deg, rgba(49, 47, 47, 1) 0%, rgba(111, 110, 110, 1) 100%);
    color: white;
    height: 40px;
}

.Toastify__toast-container {
    z-index: 200000;
}

label.TaskName-label {
    width: 10%;
}
label.TaskCompleter-label {
    width: 10%;
}
.task-input-group {
    width: 100%;
}
.manage-team-header-container {
    display: flex;
    width: 100%;
}
.manage-team-header-right {
    float: right;
    width: 50%;
    justify-content: right;
}
.manage-team-header-left {
    width: 50%;
    text-align: left;
}
.modal-width-AddTeam{
    width: 300px;
    justify-self: center;
}
.modal-height-AddTeam{
    height: 500px;
}
svg.svg-inline--fa.fa-circle-plus.fa-2x.add-team-member-icon:hover{
    transform: scale(1.05);
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
    /* background: azure; */
    margin-top: 3rem;
    margin-bottom: 2rem;
}

svg.svg-inline--fa.fa-circle-plus.fa-2x.add-team-member-icon:not(:hover){
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
    /* background: white;
    border-radius: 5px; */
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.remove-team-member-icon:hover{
    transform: scale(1.05);
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
    /* background: azure; */
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.remove-team-member-icon:not(:hover){
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
    /* background: white;
    border-radius: 5px; */
    margin-top: 3rem;
    margin-bottom: 2rem;
}