.canvas {
    height: 90vh;
    background: #e9e9e9;
    margin-top: 3%;
    border-radius: 10px 0px 0px 10px;
    margin-left: 13px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 45%);
    padding-inline: 5%;
    overflow-y: scroll;
    width: 100%;
    text-align: left;
}
.Template {
    display: inline-flex;
    width: 100%;
    height: 100vh;
}

h3.welcome-name {
    display: inline-flex;
    float: right;
    margin-right: 2%;
    font-size: 20px;
    align-items: center;
    color: #0d6efd;
    margin-top: 10px;
}

button#dropdownMenuButton {
    border-radius: 50px;
    width: 60px;
    height: 60px;
}
button#dropdownMenuButton:after {
    display: none;
}

img.profile-pic {
    transform: translate(-9px, -4px);
}

div#user-pic-drpdwn {
    margin-left: 15px;
}
.dropdown-item{
    font-size: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 50px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0d6efd; 
  }

  .inner-nav {
    background-color: transparent;
    flex-direction: column;
    display: flex;
    margin-top: 150%;
}

nav.nav-card {
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);    place-self: center;
    height: 100vh;
    opacity: 1;
    position: fixed;
    width: 300px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
    z-index: 2;
}

/* button.toggle {
    height: 60px;
    width: 60px;
    border: solid cornflowerblue 2px;
    margin-top: 10px;
    z-index: 3;
} */

a.nav-links {
    color: white;
    font-size: 15px;
    text-decoration: none;
}
a.nav-links:hover {
    color: white;

}
li.nav-list {
    list-style: none;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
}
li.nav-list-closed {
    list-style: none;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
}
li.nav-list-open {
    list-style: none;
    color:white;
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
}
li.nav-list:hover {
    transform: scale(1.1);
    background-color: rgb(106, 102, 102);
    border-radius: 50px;
    text-decoration: none;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
    padding-inline:10px;
    border-right: 4px solid #4f86f6;
    transition: 0.2s cubic-bezier(0.2,-0.28,0,735,0.045);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
}


li.nav-list:not(:hover) {
    transform: scale(1);
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
}
svg.svg-inline--fa.fa-2x {
    color: #4f86f6;
}

button.nav-list {
    width: 93%;
    background: #4f86f6;
    border-radius: 50px;
    border: solid white 1px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%)
}
nav.feed-card {
    display: flex;
}
.feed-card {
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
    background: linear-gradient(0deg, rgb(124 124 124) 0%, rgb(225 225 225) 100%);
    height: 75%;
    border: none;
    align-self: center;
}
button.toggle-posts {
    height: 75%;
    border: none;
    align-self: center;
    border-radius: 10px 0px 0px 10px;
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%)
}

svg.svg-inline--fa.fa-3x {
    color: #4f86f6;
}

svg.svg-inline--fa.fa-1x {
    color: #4f86f6;
}
.TopButton {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 24px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-weight: bolder;
    border: none;
    outline: none;
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);
    color: #fff;
    cursor: pointer;
    padding: 0 13px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%)
}
.TopButton:hover {
    transform: scale(1.05);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
    cursor:pointer;
 }
 .TopButton:not(:hover) {
    transform: scale(1);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
    cursor:pointer;
 }
 svg.svg-inline--fa.Nav-icon-closed {
    float: right;
    padding-right: 15px;
}
li.nav-list {
    display: flow-root;
    flex-direction: column;
    height: 100%;
}
svg.svg-inline--fa.fa-bars.fa-2x {
    float: right;
    padding-right: 10px;
    color: white;
    background-color: transparent;
}
button.toggle {
    float: right;
    background-color: transparent;
    border: none;
}
button.toggle-open {
    background-color: transparent;
    margin-left: 100px;
    border: none;
}
svg.svg-inline--fa.fa-xmark.fa-2x {
    color: white;
    margin-bottom: 30px;
}
img.nav-logo {
    height: 150px;
}
.welcome-banner {
    height: 100px;
}
