.content-bar {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 5px;
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 10%);
    border-radius: 10px;
    text-align: left;
}

.btncontainer {
    width: 100px;
    background: none;
}

.cbbtn {
    float: right;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    margin-top: 7px;
    border-radius: 12px;
    border: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-desc {
    padding-left: 20px;
    font-weight: 300;
    text-align: left;
    color: #525252;
}

.page-title {
    font-weight: 500;
    font-size: 26px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

.itemtitle {
    color: white;
    overflow: hidden;

}

.itemprice {
    padding-bottom: 15px;
    color: #319959;
    min-width: 80px;
}

.itemstock {
    padding-bottom: 15px;
    color: white;
    font-weight: 300;
    /* justify-content: center;
    align-items: center; */
    display: flex;
}

.itemnum {
    color: white;
    font-weight: 300;
}

.numinstock {
    color: #4f86f6;
    padding: 0px !important;
    margin-right: 5px;
    margin-bottom: 0px;
}

svg.svg-inline--fa.fa-xmark.fa-2x.project-done-icon {
    color: #4f86f6;
}

svg.svg-inline--fa.fa-circle-check.fa-2x.project-done-icon {
    color: #4f86f6;
}

button.cbbtn {
    background-color: #8080801a;
}

input.inv-edit-input {
    border-radius: 5px;
    border: solid gray 1px;
    outline: none;
}

textarea.inv-edit-input {
    border-radius: 5px;
    border: solid gray 1px;
    outline: none;
}


.modal-width {
    min-width: 90%;
}

.modal-height {
    height: 90vh;
    padding: 6rem !important;
}


svg.svg-inline--fa.fa-dollar-sign.fa-1x.project-done-icon {
    padding: 0px;
}
.above-table-head {
    display: flex;
    width: 100%;
}
button.Add-inv-btn {
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    color: white;
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);    margin-right: 20px;
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 20%);
}
button.Add-inv-btn:hover {
    transform: scale(1.05);
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
    cursor: pointer;

}

button.Add-inv-btn:not(:hover) {
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
    cursor: pointer;

}
.new-inventory-form {
    text-align: right;
    width: 75%;
}
.heading-container {
    width: 25%;
}
svg.svg-inline--fa.fa-plus.fa-1x.inv-add-icon {
    color: white;
}

.table-container{
    height: 40%;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 20%);
}

.metric-container {
    width: 400px;
    background: #4f86f6;
    border-radius: 10px;
    color:white;
    padding: 1rem;
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 15%);
    margin-left: 1rem;
}

.inventory-metrics {
    display: flex;
}
button.sell-btn{
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    color: white;
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);    
    margin-right: 10px;
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 20%);
}
button.stock-btn{
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    color: white;
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 20%);
}
.sell-stock-container {
    display: flex;
}
.Restock-stock-container {
    display: flex;
}
svg.svg-inline--fa.fa-dollar-sign.fa-1x.sell-item-icon {
    color: white;
}
svg.svg-inline--fa.fa-boxes-stacked.fa-1x.stock-item-icon{
    color: white;
}
.fade.modal.show {
    background: #0000007b;
}
.sell-form {
    display: flex;
}
.Restock-form{
    display: flex;
}
select.sell-select-item.form-select {
    width: 50%;
    height: 30px;
    font-size: 15px;
}
select.Restock-select-item.form-select {
    width: 50%;
    height: 30px;
    font-size: 15px;
}
input.item-amount-sold.form-control {
    width: 50%;
    height: 30px;
    font-size: 15px;
    text-align: center;
}
button.btn.btn-secondary.btn-sm {
    margin-top: 10px;
    width: 100px;
    font-size: 12px;
    height: 30px;
}

.second-row-inventory {
    height: 45%;
    display: inline-flex;
    width: 100%;
    padding-inline: 1%;
}
.row-2-first {
    text-align: -webkit-center;
    height: 100%;
    margin: 10px;
    width: 33%;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 20%);
}
.row-2-first-srlog {
    height: 100%;
    margin: 10px;
    width: 50%;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 20%);
    contain: strict;
}
tr.inventory-table-headers {
    background: #4f86f6;
    text-align: left;
    color: white;
}
button#uncontrolled-tab-example-tab-Sells.active {
    background-color:  rgba(49,47,47,1) 0%;
}
button#uncontrolled-tab-example-tab-Restock.active {
    background-color:  rgba(49,47,47,1) 0%;
}
table.sell-restock-list {
    width: 100%;
    text-align: left;
}
th.srlog-header {
    width: 100px;
    font-size: 15px;
}
svg.svg-inline--fa.fa-arrow-up.fa-2x.srlog-sold-arrow {
    color: lawngreen;
}
button#uncontrolled-tab-example-tab-Sells.active {
    background: linear-gradient(0deg, rgb(115, 114, 114) 0%, rgba(111,110,110,1) 100%);
    border-radius: 5px;
    height: 30px;
    width: fit-content;
    display: flex;  
}
button#uncontrolled-tab-example-tab-Sells {
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);
    border-radius: 5px;
    height: 30px;
    width: fit-content;
    display: flex;    
}
button#uncontrolled-tab-example-tab-Restock {
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);
    border-radius: 5px;
    height: 30px;
    width: fit-content; 
    display: flex;
}
button#uncontrolled-tab-example-tab-Restock.active {
    background: linear-gradient(0deg, rgb(115, 114, 114) 0%, rgba(111,110,110,1) 100%);
    border-radius: 5px;
    height: 30px;
    width: fit-content; 
}
p.tab-title {
    color: white;
}
ul.inventory-tabs.nav.nav-tabs {
    padding: 1%;
    height: 50px;
    width: 100%;
}
div#uncontrolled-tab-example-tabpane-Sells {
    height: 20vh;
}

tr.inventory-log-item {
    border-bottom: solid #6c757d 2px;
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgb(59, 59, 59) 100%);
}
svg.svg-inline--fa.fa-chart-line.fa-1x.sold-total-icon {
    color: greenyellow;
}
svg.svg-inline--fa.fa-money-bill.fa-1x.inventory-sell-icon {
    margin-left: 10px;
    height: 2rem;
}
svg.svg-inline--fa.fa-box.fa-1x.inventory-restock-icon {
    margin-left: 10px;
    height: 2rem;
}
td.item-name-col {
    color: white;
}
thead.inventory-log-header-table {
    background: #4f86f6;
}
.srlog-header{
    color: white;
}