.project-func {
    height: 100rem;
    width: 100%;
    overflow-y: clip;
    padding: 30px;
}

.Project-list-canvas {
    width: 75%;
    height: 78rem;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
}

ul.project-list {
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 42rem;
}

li.project-item {
    width: 400px;
    height: fit-content;
    margin: 10px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
    background: linear-gradient(0deg, #4f86f6, #78a5ff);
}

li.project-item:hover {
    transform: scale(1.05);
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
    cursor: pointer;

}

li.project-item:not(:hover) {
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
    cursor: pointer;

}

h4.project-name {
    color: white;
}

p.progress-percent {
    color: white;
}

.project-header {
    display: flex;
}

.project-header-listed {
    display: flex;
}

svg.svg-inline--fa.fa-circle-check.fa-2x.project-fin-icon {
    color: rgb(0, 210, 0);
    margin-left: 15px;
    background: white;
    padding: 3px;
    border-radius: 50%;
}

h5.project-description {
    height: 50px;
    margin-bottom: 20px;
}

button#uncontrolled-tab-example-tab-Grid.active {
    background: #495057;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    border-radius: 20%;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
}

button#uncontrolled-tab-example-tab-List.active {
    background: #495057;
    font-weight: bold;
    border-radius: 50%;
    color: white;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
    border-radius: 20%;
}

ul.project-tabs.nav.nav-tabs {
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 10px;
}

li.project-item-listed {
    width: 100%;
    height: fit-content;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
    background: linear-gradient(0deg, #4f86f6, #78a5ff);
    border-radius: 10px;
    list-style: none;
    padding: 20px;
    margin-bottom: 30px;
}

li.project-item-listed:hover {
    transform: scale(1.02);
    width: 90%;
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
    cursor: pointer;

}

li.project-item-listed:not(:hover) {
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
    cursor: pointer;

}

div#uncontrolled-tab-example-tabpane-List {
    overflow-y: scroll;
    height: 42rem;
}

.Project-list-contatiner {
    display: flex;
    height: 100%;
}

.Project-content-container {
    width: 25%;
    height: 78rem;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
    margin-left: 10px;
}

img.left-gif {
    height: 100px;
}

svg.svg-inline--fa.fa-bars-progress.fa-4x.project-done-icon {
    color: #4f86f6;
}

button.project-edit-btn {
    color: white;
    background: linear-gradient(0deg, rgba(49, 47, 47, 1) 0%, rgba(111, 110, 110, 1) 100%);
    border-radius: 50px;
    border: none;
    margin-bottom: 15px;
    padding: 5px;
    height: 50px;
    float: right;
    width: 50px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 45%);
}

button.project-edit-btn:hover {
    transform: scale(1.1);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

button.project-edit-btn:not(:hover) {
    transform: scale(1);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
}

button.project-close-edit-btn {
    color: white;
    background: linear-gradient(0deg, rgba(49, 47, 47, 1) 0%, rgba(111, 110, 110, 1) 100%);
    border-radius: 50px;
    border: none;
    margin-bottom: 15px;
    padding: 5px;
    height: 50px;
    float: right;
    width: 50px;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 45%);
}

button.project-close-edit-btn:hover {
    transform: scale(1.1);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

button.project-close-edit-btn:not(:hover) {
    transform: scale(1);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
}

button.project-save-btn {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 45%);
    background: linear-gradient(0deg, rgba(49, 47, 47, 1) 0%, rgba(111, 110, 110, 1) 100%);
    height: 50px;
}

button.project-save-btn:hover {
    transform: translateY(10px);
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

button.button.project-save-btn:hover:not(:hover) {
    -webkit-transition: all 1s ease;
    transition: all 300ms ease-in-out;
}

button.Add-New-Project {
    color: white;
    background: linear-gradient(0deg, rgba(49, 47, 47, 1) 0%, rgba(111, 110, 110, 1) 100%);
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    padding: 5px;
    height: 50px;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 45%);
    width: 35rem;
}
button.Add-New-Project:hover {
    transform: scale(1.05);
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
button.Add-New-Project-disabled {
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    padding: 5px;
    height: 50px;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 45%);
    width: 35rem;
}
button.Add-New-Project-disabled:hover {
    cursor: not-allowed;
}

button.Add-New-Project:not(:hover) {
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
}
.add-new-project-container {
    text-align: right;
}
svg.svg-inline--fa.fa-list-check.fa-1x.project-done-icon {
    margin-left: 25px;
    height: 20px;
}
svg.svg-inline--fa.fa-square.fa-1x.task-done-icon {
    float: right;
    width: 20px;
    height: 20px;
    color: white;
    border: solid gray 2px;
    border-radius: 5px;
}
svg.svg-inline--fa.fa-square-check.fa-1x.task-done-icon {
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}
h5.project-task-title {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid gray 1px;
}
p.task-assignee {
    font-size: 11px;
}
p.task-date {
    font-size: 12px;
}
input.title-input {
    border-bottom: solid #4f86f6 1px;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-top: 20px;
}
input.title-input:focus {
    border-bottom: solid #4f86f6 5px;
    border-left: solid #4f86f6 1px;
    border-right: solid #4f86f6 1px;
    border-top: solid #4f86f6 1px;
    outline: none;
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 45%);
    transform: scale(1.1);
    z-index: 1000;
}

textarea.description-input {
    border-bottom: solid #4f86f6 1px;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-top: 20px;
}
textarea.description-input:focus {
    border-bottom: solid #4f86f6 5px;
    border-left: solid #4f86f6 1px;
    border-right: solid #4f86f6 1px;
    border-top: solid #4f86f6 1px;
    outline: none;
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 45%);
    transform: scale(1.1);
}
input#task{
    border-bottom: solid #4f86f6 1px;
    border-right: none;
    border-left: none;
    border-top: none;
}
input#task:focus{
    border-bottom: solid #4f86f6 1px;
    border-right: none;
    border-left: none;
    border-top: none;
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 45%);
    transform: scale(1.1);
}
select#taskCompleter{
    border-bottom: solid #4f86f6 1px;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-right: 30px;
}
select#taskCompleter:focus{
    border-bottom: solid #4f86f6 1px;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-right: 30px;
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 45%);
    transform: scale(1.1);
}

button.add-task-btn {
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(0deg, rgb(0, 185, 15) 0%, rgb(10, 146, 0) 100%);
    outline: none;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 45%);
    color: white;
    margin-right: 10px;
}
button.rmv-task-btn {
    border: none;
    width: 125px;
    background: linear-gradient(41deg, #d10000, #992020);
    color: white;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0 rgb(0 0 0 / 45%);
}

button.rmv-task-btn:hover {
    
    width: 80%;
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;

}
button.rmv-task-btn:not(:hover) {
    height: 35px;
    width: 100%;    
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
}
button.add-task-btn:hover {
    
    width: 80%;
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;

}
button.add-task-btn:not(:hover) {
    height: 35px;
    width: 100%;
    -webkit-transition: all 1s ease;
    transition: all 100ms ease-in-out;
}
svg.svg-inline--fa.fa-circle-check.fa-1x.task-add-icon{
    color:white;
}
label.project-title {
    width: 100%;
    align-self: center;
    background: linear-gradient(0deg, rgba(49, 47, 47, 1) 0%, rgba(111, 110, 110, 1) 100%);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
button.submit-project-form:hover{
    width: 500px;
    align-self: center;
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
}
button.submit-project-form:not(:hover){
    align-self: center;
    width: 100%;
    -webkit-transition: all 1s ease;
    transition: all 200ms ease-in-out;
}
.first-division {
    display: flex;
    margin-bottom: 20px;
}
svg.svg-inline--fa.fa-trash-can.fa-1x.task-rmv-icon {
    color: white;
}

.edit-task-input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.edit-tasks-container {
    height: 24vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.edit-first-division {
    padding: 30px;
}
h4.project-count {
    float: right;
    margin-left: 5%;
}
.project-count-container {
    width: 100%;
    display: flex;
    height: 23rem;

}
.archive-proj-container {
    display: inline-flex;
}
.project-task-list {
    height: 52rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.complete-task-container {
    display: inline-flex;
    margin-top: 35px;
}
h5.complete-task-label{
    margin-right: 10px;
    margin-top: 5px;
    color: #4f86f6;
}
input.complete-check {
    width: 15px;
}

h5.archive-project-label{
    margin-right: 10px;
    margin-top: 5px;
    color: #4f86f6;
}
input.archive-check{
    width: 15px;
}
.project-metrics-container {
    width: 70%;
    height: fit-content;

    display: flex;
}
.projects-in-progress-container {
    text-align: center;
    width: 25rem;
    align-self: center;
}
.projects-in-progress-container-calendar {
    color: #514f4f;
    border-radius: 5rem;
    text-align: center;
    width: 25%;
    background: #4ff68a;
    align-self: center;
    padding: 4rem;
    margin-left: 7rem;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 25%);
}
projects-in-progress-container-calendar:hover {
    color: #514f4f;
    border-radius: 5rem;
    text-align: center;
    width: 25%;
    background: #4ff68a;
    align-self: center;
    padding: 4rem;
    margin-left: 7rem;
}
.projects-in-progress-container-calendar:hover{
    transform: scale(1.05);
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
}
.projects-in-progress-container-calendar:not(:hover){
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
}
.PieChart1 {
    width: 20rem;
}
.PieChart2{
    width: 20rem;
}
.fc-event{
    cursor: pointer;
}
.modal-editevent-height-invoice {
    border: none;
    border-radius: 10px;
    /* padding: 6rem !important; */
}
.modal-editevent-width-invoice {
    max-width: 400px ;
}
.no-proj-animation-object{
    rotate: 180deg !important;
}
.Edit-Task-Form {
    display: flex;
    flex-direction: column;
}
.edit-info-group {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
label.label-title.form-label {
    width: 25%;
    display: flex;
    text-align: left;
}

p.form-content {
    width: 75%;
    text-align: left;
}
input.form-input-edit.form-control {
    width: 75%;
    font-size: 13px;
}
td.fc-daygrid-day.fc-day {
    border: solid rgb(0 0 0 / 54%) 1px !important;
}
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
    background: #212529 !important;
}
.modal-content.modal-height-projCal {
    background: #212529 !important;
    height: fit-content;
    max-height: 80vh;
    overflow-y: scroll;
}
.fc .fc-daygrid-day-number {

    color: white !important;

}
a.fc-daygrid-more-link.fc-more-link {
    color: #4da6ff;
    background: rgb(0 0 0 / 26%);
    padding: 0.5rem;
    border-radius: 10px;
}

.fc-theme-standard .fc-popover {
    background: #111 !important;
    border:none !important;
    border-radius: 10px !important;
}
.fc-popover-header {
    background: white !important;
    border-radius: 10px 10px 0px 0px ;
}
a.fc-daygrid-event.fc-daygrid-dot-event.fc-event.fc-event-start.fc-event-end.fc-event-future {
    background: rgb(0 0 0 / 38%);
    color: white;
}
a.fc-daygrid-event.fc-daygrid-dot-event.fc-event.fc-event-start.fc-event-end.fc-event-future:hover {
    background: #4da6ff61;

}
a.fc-daygrid-event.fc-daygrid-dot-event.fc-event.fc-event-start.fc-event-end {
    background: rgb(0 0 0 / 38%);
    color: white;
}
a.fc-daygrid-event.fc-daygrid-dot-event.fc-event.fc-event-start.fc-event-end:hover {
    background: #4da6ff61;
}
.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
    color: white;
}
span.fc-timegrid-axis-cushion.fc-scrollgrid-shrink-cushion.fc-scrollgrid-sync-inner {
    color: white;
}
.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #343030;
    border: 1px solid #111 !important; 
}
a.fc-col-header-cell-cushion {
    color: white;
}
.form-input-edit {
    width: 100%;
}
td.fc-daygrid-day.fc-day.fc-day-sat.fc-day-today {
    background: #0d6efd38 !important;
}
.e-schedule-toolbar-container {
    position: fixed;
    top: 13.1rem;
    width: 111.5rem;
    z-index: 100;
}
.modal-width-projCal{
    width: 100% !important;
}
h2#fc-dom-2 {
    color: white !important;
}
.header-container {
    display: flex;
    margin-left: 6rem;
}
.no-project-selected-container {
    text-align-last: center;
    margin-top: 12rem;
}
.no-client-selected-container {
    text-align-last: center;
    margin-top: 12rem;
}



a#left-tabs-example-tab-second.nav-link:hover{
    transform: scale(1.05);
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
    background: azure;
    margin-bottom: 2rem;
}
a#left-tabs-example-tab-second.nav-link:not(:hover){
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
    background: white;
    border-radius: 5px;
    margin-bottom: 2rem;

}

a#left-tabs-example-tab-first.nav-link:hover{
    transform: scale(1.05);
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
    background: azure;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
a#left-tabs-example-tab-first.nav-link:not(:hover){
    -webkit-transition: all 1s ease;
    transition: all 250ms ease-in-out;
    background: white;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
a#left-tabs-example-tab-first.nav-link.active{

    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);
    border-radius: 5px;
    
}
a#left-tabs-example-tab-second.nav-link.active{
    background: linear-gradient(0deg, rgba(49,47,47,1) 0%, rgba(111,110,110,1) 100%);
    border-radius: 5px;
}
/* .project-gantt-container-chart {
    
    /* overflow-x: scroll;
    overflow-y: scroll; */
/* } */ */
/* .gantt-container{
    /* width: 5000rem; */
    /* max-width: 180rem; */

.gantt-container-body{
    height: 67rem;
    width: 400rem;
}
.project-gantt-container-chart {
    text-align: center;
}
.GanttClientProject {
    height: 68rem !important;
}

button.btn.btn-primary {
    border-radius: 20rem !important;
    margin-bottom: 2rem;
    height: 3rem;
    margin-top: 2rem;
    float: right;
    margin-right: 2rem;
    background: #4f86f6;
}

button.edit-team-member.btn.btn-primary {
    height: 3rem;
    border-radius: 20rem;
    background: #4f86f6;
}
button.add-team-member.btn.btn-primary {
    height: 3rem;
    border-radius: 20rem;
    background: #4f86f6;
}