$threads-font-path: "~plaid-threads/fonts";
@import "~plaid-threads/scss/typography";
@import "~plaid-threads/scss/variables";

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70 * $unit;
  max-width: 84 * $unit;
  margin: 0 auto;
}

html,
body {
  text-align: center;
  height: 100%;
  overflow: hidden;
}
#root{text-align: center; width: 100%; height: 100%;}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
  overflow: initial;
  margin:0px;
}